body 
{background-color: #e7eff6;
color: #2a4d69;}

a {
    color: #673888;
}

h1, h2, h3{color: #011f4b;}

nav {background-color: #4d1b7bff;
padding: 10px;
margin-bottom: 30px;}

nav a { color: #bfbfbf;}

nav a:hover {
    background-color: #c79dd7;}

.container {display: flex;
flex-direction: column;
gap: 30px}

.row {display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px}

.col {flex: 1;
padding: 20px;
border-radius: 10px;}

.row1 {background-color: #b789be;
padding:20px;
border-radius:10px;}

.row2 {background-color: #99d9f9;
padding:20px;
border-radius:10px;

display: flex;
flex-wrap: wrap;
gap:2em;
}


.row2 > .col {
    width: 100%;
    min-width: 300px;
    flex: 1 1 300px;
}

.map iframe {width: 100%;
height: auto;
border-radius: 10px;
border:0;
display:block;}

.skillstable table{
    margin: 0 auto; 
}
.skillstable {flex-basis:50%}

.skillsimage {flex-basis: 50%;
    text-align: center;}

.skillsflexbox{display: flex;
   align-items: flex-start;
   padding: 20px;
   background-color: #ffffff;
   border-radius: 10px;
   margin: 20px;}
   
.brooke-image {
    float:left;
    margin:0 2em 2em 0;
    max-width: 100%;
        height: auto;}


@media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column; 
        align-items: center;    
        gap: 10px;              
    }

    nav a {
        width: 100%;
        font-size: 1.2em; 
        padding: 5px 0;      
        display: block;
    }
    nav span{
        display: none;
    }
}

